main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: blue;
    flex: 1 2 300px;
}

main .content {
    background-color: aqua;
    flex: 2 1 800px;
}