h1 {
    text-align: center;
}

#container {
    background-color: green;
    width: 90%;
    height:500px;
    margin: 0 auto;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

#container div {
    width: 100px;
    height: 200px;
}