h1 {
    background-color: orange;
    border: 5px solid black;
    width: 200px;
    padding: 70px;
    margin: 50px;
    display: inline-block;
}

h2 {
    background-color: orange;
    border: 5px solid black;
    width: 200px;
    padding: 70px;
    margin: 50px;
    display: none;
}

span {
    background-color: aqua;
    border: 5px solid black;
    width: 300px;
    padding: 70px;
    margin: 50px;
}